/*BACKUP FONT@font-face {
    font-family: 'pacifico';
    src: url('pacifico.ttf');
}*/

@font-face {
    font-family: 'FFF';
    src: url('FFF_Light_TRIAL.ttf');
}

html {
height: 200%;
}

body {
    font-family: "Circular", -apple-system, BlinkMacSystemFont, "Roboto", "Helvetica Neue", sans-serif;
}


.hero {
  color: #FFFFFF;
  padding-top: 5%;
  background-size: cover;
}

/*GENERAL*/

.herotitles {
    margin-bottom: 5%;
    font-family: 'FFF';
    letter-spacing: 0.05em;
}

.lead {
    width: 400px;
    line-height: 2em;
    /*letter-spacing: .2em;*/
}
.iconlinks {
  color: black;
  text-decoration: none;
}
.iconlinks:hover {
  text-decoration: none;
  color: #6EC6E1;
}

.iconlinks:focus {
  text-decoration: none;
  color:#6EC6E1;
}

/* LANDING HERO 1*/

#hero1 {
    background-image: url('Images/hero1.jpg');
    height: 645px;
    animation: fadeIn 3s ease-in-out 1 forwards;
    padding-left: 5%;
}

#logo {
  font-family: 'FFF';
}


.btn {
    letter-spacing: 0.2em;
}

.btn-danger {
    margin-top: 3%;
}

/*Scrolldown*/
.containerscroll {
  position: absolute;
  width: 24px;
  height: 24px;
  padding-left: 45%;
  padding-top: 2em;
}

.chevron {
  position: absolute;
  width: 70px;
  height: 9px;
  opacity: 0;
  transform: scale3d(0.5, 0.5, 0.5);
  animation: move 3s ease-out infinite;
}

.chevron:first-child {
  animation: move 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
  animation: move 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
  content: ' ';
  position: absolute;
  top: 0;
  height: 100%;
  width: 51%;
  background: #fff;
}

.chevron:before {
  left: 0;
  transform: skew(0deg, 30deg);
}

.chevron:after {
  right: 0;
  width: 50%;
  transform: skew(0deg, -30deg);
}

@keyframes move {
  25% {
    opacity: 1;

  }
  33% {
    opacity: 1;
    transform: translateY(30px);
  }
  67% {
    opacity: 1;
    transform: translateY(40px);
  }
  100% {
    opacity: 0;
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}


@keyframes pulse {
  to {
    opacity: 1;
  }
}



/*NAVBAR*/

.navbar {
    box-shadow: 1px 2px 16px -3px rgba(0, 0, 0, 0.75);
}

#brand {
  font-family: 'pacifico';
  ransition: color 500ms ease;
}
#brand:hover {
  color: #8b4513;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


/* MISSION HERO 3*/

#hero3 {
    height: 900px;
    background-image: url('Images/hero2.jpeg');
    padding-left: 5%;
}
/*INFORMATION SECTION*/

#info {
    height: auto;
    background-color: #f7f8fb;
}

#infoHeader {
    padding: 60px 50px 50px 50px;
    font-family: 'FFF';
    letter-spacing: 0.05em;
}

.infoContent {
    text-align: center;
}

.infoimg {
    width: 100%;
    height: 100px;
    animation-duration: 3s;
    animation-delay: 1s;
    animation-iteration-count: 1;
}

.infoTitles {
    text-align: center;
    padding: 10;
    /*letter-spacing: -0.03em;*/
}

.infoPara {
    font-size: 0.75 em;
    margin: 1em;
    text-align: center;
    hyphens: auto;
    font-weight: 300;
    /*letter-spacing: 0.1em;*/
}


/*GYM HERO 2*/

#hero2 {
    background-image: url('Images/Training2.jpg');
    padding-left: 5%;
    height: 900px;
}


#gymlist li {
    padding-top: 18px;
    list-style-type: circle;

}

#gymlist li a {
  text-decoration: underline;
    color: #f7f8fb;
    transition: color 500ms ease;
}

#gymlist li a:hover {
  /*text-decoration: none;*/
    color: #6EC6E1;
    font-weight: 500;
}


/*GEAR HERO 4*/

#hero4 {
    height: 650px;
}

.gearPara {
    margin: 10px 70px 25px 70px;
}

#gearimg {
    height: 100px;
    width: 100%;
    margin: 70px 0px 5px 0px;
}

#gearimg:hover {
    animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }
    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }
    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }
    40%, 60% {
        transform: translate3d(4px, 0, 0);
    }
}

/*EVENTS HERO*/

#hero5 {
    background-image: url('Images/Events.jpg');
    height: 900px;
    padding-left: 5%;
}

#eventHeader {
    margin-bottom: 5%;
}

#hero6 {
  height: auto;
  text-align: center;
  background-color: black;
}

#profileimg {
background-position: center;
border-radius: 50%;
height: auto;
width: 150px;
padding-bottom: 10px;
}
#blogpara {
  line-height: 2em;
  /*letter-spacing: .2em;*/
  text-align: center;
  max-width: 400px;
  margin: 0 auto;
  padding-bottom: 25px;
  font-size: 18px;
}

#myName {
  font-size: 26px;
}
#emailbox {
  width: 25%;
  margin: auto;
}
#emailLabel {
  font-size: 2em;
}
#subscribe {
  margin-bottom: 2em;
  font-size: uppercase;
}

footer {
  text-align: center;
  margin: 0 auto;
}

/*Icons Footer*/
.wrapper {
  padding-bottom: 3%;
}

.wrapper a:nth-child(1) {
    color: #4867AA;
    cursor: pointer;
    text-shadow: 0px 7px 10px rgba(0, 0, 0, 0.4);
    transition: all ease-in-out 150ms;
}

.wrapper a:nth-child(1):hover {
    margin-top: -10px;
    text-shadow: 0px 16px 10px rgba(0, 0, 0, 0.3);
    transform: translate(0, -8);
}

.wrapper a:nth-child(2) {
    color: #00aced;
    cursor: pointer;
    text-shadow: 0px 7px 10px rgba(0, 0, 0, 0.4);
    transition: all ease-in-out 150ms;
}

.wrapper a:nth-child(2):hover {
    margin-top: -10px;
    text-shadow: 0px 16px 10px rgba(0, 0, 0, 0.3);
    transform: translate(0, -8);
}

.wrapper a:nth-child(3) {
    color: #517fa4;
    ;
    cursor: pointer;
    text-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
    transition: all ease-in-out 150ms;
}

.wrapper a:nth-child(3):hover {
    margin-top: -10px;
    text-shadow: 0px 14px 10px rgba(0, 0, 0, 0.4);
    transform: translate(0, -5);
}

.wrapper a:nth-child(4) {
    color:  #FFFA37;
    cursor: pointer;
    text-shadow: 0px 7px 10px rgba(0, 0, 0, 0.4);
    transition: all ease-in-out 150ms;
}

.wrapper a:nth-child(4):hover {
    margin-top: -10px;
    text-shadow: 0px 16px 10px rgba(0, 0, 0, 0.3);
    transform: translate(0, -8);
}

#copyright {
  padding: 1.2em 0em 1.2em 0em;
}

small i {
  padding: 0em .3em .3em .3em;
}

/*Icons Navbar*/
.wrapperNav a:nth-child(1) {
    color: #4867AA;
    cursor: pointer;
    text-shadow: 0px 7px 10px rgba(0, 0, 0, 0.4);
    transition: all ease-in-out 150ms;
}

.wrapperNav a:nth-child(1):hover {
    margin-top: -10px;
    text-shadow: 0px 16px 10px rgba(0, 0, 0, 0.3);
    transform: translate(0, -8);
}

.wrapperNav a:nth-child(2) {
    color: #00aced;
    cursor: pointer;
    text-shadow: 0px 7px 10px rgba(0, 0, 0, 0.4);
    transition: all ease-in-out 150ms;
}

.wrapperNav a:nth-child(2):hover {
    margin-top: -10px;
    text-shadow: 0px 16px 10px rgba(0, 0, 0, 0.3);
    transform: translate(0, -8);
}

.wrapperNav a:nth-child(3) {
    color: #517fa4;
    ;
    cursor: pointer;
    text-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
    transition: all ease-in-out 150ms;
}

.wrapperNav a:nth-child(3):hover {
    margin-top: -10px;
    text-shadow: 0px 14px 10px rgba(0, 0, 0, 0.4);
    transform: translate(0, -5);
}

.wrapperNav a:nth-child(4) {
    color:  #FFFA37;
    cursor: pointer;
    text-shadow: 0px 7px 10px rgba(0, 0, 0, 0.4);
    transition: all ease-in-out 150ms;
}

.wrapperNav a:nth-child(4):hover {
    margin-top: -10px;
    text-shadow: 0px 16px 10px rgba(0, 0, 0, 0.3);
    transform: translate(0, -8);
}


/*
.wrapperNav small i {
  padding: 0em .2em .2em .2em;
}*/
